body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0efff;
    margin: 40px;
}

.subtitle {
    margin: 5px 0;
    font-weight: normal; 
}

#link-content {
    margin-top: 30px;
    margin-left: 20px;
}

a:hover {
    color:rgb(5, 5, 84);
}
